<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darshanvineeth.turn1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/LoginActivityTheme">
        <activity
            android:name=".StartActivity"
            android:theme="@style/LoginActivityTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/LoginActivityTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Login"
            android:theme="@style/LoginActivityTheme.NoActionBar" />
        <activity
            android:name=".DrawerActivity"
            android:icon="@drawable/login_logo"
            android:label="@string/app_name"
            android:theme="@style/LoginActivityTheme.NoActionBar" />
        <activity
            android:name=".ScanActivity"
            android:theme="@style/LoginActivityTheme.NoActionBar" />

        <activity
            android:name=".SettingsFragment"
            android:theme="@style/LoginActivityTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".CreateActivity" />
        <activity
            android:name=".LogonActivity"
            android:theme="@style/LoginActivityTheme.NoActionBar" />
    </application>

</manifest>